################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/BillSystem/.vs
/BillSystem/BillSystem/bin
/BillSystem/BillSystem/obj